@import '../../../global.scss';

.notfound {
    &__container {
        min-height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        text-align: center;
        color: $main-text;
    }

    &__back-navigate {
        cursor: pointer;
        text-decoration: none;
        padding: 10px 30px;
        border: 1px solid $fiature-color;
        color: $fiature-color;

        background-color: transparent;        
    }
} 
