@import '../../../global.scss'; 

$inputwidth: 260px;

.login-form {
    &__wrapper {
        position: relative;
        min-width: $inputwidth;
        min-height: 380px;

        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__header {
        color: $main-text;
    }
        
    &__input {
        min-width: $inputwidth;
        padding: 10px;
        background-color: transparent;
        color: $main-text;
        border-color: $fiature-color;
        border-radius: 20px;
        outline: 0;
    }

    &__remember-container {
        display: flex;
        justify-content: space-between;
    }

    &__remember {
        display: flex;
        gap: 5px;

        color: $main-text;
    }

    &__remember-label {
        cursor: pointer;
    }

    &__remebre-input {
        display: none;

        &:checked + label::before {
            width: 10px;
            top: -7px;
            left: 7px;
            border-radius: 0;
            opacity: 1;
            border-top-color: transparent;
            border-left-color: transparent;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        & + label:before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            border: 1px solid $main-text;
            position: absolute;
            left: 0;
            top: -2px;
            opacity: .6;
            -webkit-transition: all .12s, border-color .08s;
            transition: all .12s, border-color .08s;
        }

        & + label {
            cursor: pointer;
            display: block;
            position: relative;
            padding-left: 30px;
 
            color: $main-text;
            user-select: none;
          }
    }

    &__forgot-link {
        cursor: pointer;
        text-decoration: none;
        color: $fiature-color;
    }

    &__auth-button {
        cursor: pointer;
        box-sizing: content-box;
        min-width: $inputwidth;
        padding: 10px;
        background-color: transparent;
        color: $main-text;
        border-color: $fiature-color;
        background-color: $fiature-color;
        border-radius: 20px;
    }

    &__aside {
        position: fixed;
        bottom: 40px;
        
        display: flex;
        gap: $bottom-aside;
        color: $main-text;
    }

    &__signup-link {
        cursor: pointer;
        text-decoration: none;
        color: $fiature-color;
    }
} 
