$main-text: #fff;
$fiature-color: #e54;
$main-background: rgb(46,51,57);
$bottom-aside: 20px;

.visually-hidden {
    border-width: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}